Source/RobotArm.ServicesClients/Connected Services/UserManagement.Role/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7002/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RobotArm.ServicesContracts.UserManagement.DataContracts" />
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RobotArm.ServicesContracts.UserManagement.DataContracts" minOccurs="0" name="GetRoleResult" nillable="true" type="q1:RoleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RobotArm.ServicesContracts.UserManagement.DataContracts" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q2:ArrayOfRoleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RobotArm.ServicesContracts.UserManagement.DataContracts" minOccurs="0" name="role" nillable="true" type="q3:RoleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>