Source/RobotArm.ServicesClients/Connected Services/RobotArmControl.RobotProgram/RobotProgramService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RobotProgramService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRobotProgramService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7011/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7011/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7011/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RobotArm.ServicesContracts.RobotArmControl.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRobotProgramService_GetPrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrograms" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_GetPrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_GetProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgram" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_GetProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_AddProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProgram" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_AddProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_UpdateProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgram" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_UpdateProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_DeleteProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgram" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_DeleteProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_GetStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStep" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_GetStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStepResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_AddStep_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStep" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_AddStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStepResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_UpdateStep_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStep" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_UpdateStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStepResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_DeleteStep_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStep" />
  </wsdl:message>
  <wsdl:message name="IRobotProgramService_DeleteStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStepResponse" />
  </wsdl:message>
  <wsdl:portType name="IRobotProgramService">
    <wsdl:operation name="GetPrograms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/GetPrograms" message="tns:IRobotProgramService_GetPrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/GetProgramsResponse" message="tns:IRobotProgramService_GetPrograms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/GetProgram" message="tns:IRobotProgramService_GetProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/GetProgramResponse" message="tns:IRobotProgramService_GetProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/AddProgram" message="tns:IRobotProgramService_AddProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/AddProgramResponse" message="tns:IRobotProgramService_AddProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/UpdateProgram" message="tns:IRobotProgramService_UpdateProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/UpdateProgramResponse" message="tns:IRobotProgramService_UpdateProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/DeleteProgram" message="tns:IRobotProgramService_DeleteProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/DeleteProgramResponse" message="tns:IRobotProgramService_DeleteProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/GetStep" message="tns:IRobotProgramService_GetStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/GetStepResponse" message="tns:IRobotProgramService_GetStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/AddStep" message="tns:IRobotProgramService_AddStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/AddStepResponse" message="tns:IRobotProgramService_AddStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/UpdateStep" message="tns:IRobotProgramService_UpdateStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/UpdateStepResponse" message="tns:IRobotProgramService_UpdateStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotProgramService/DeleteStep" message="tns:IRobotProgramService_DeleteStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotProgramService/DeleteStepResponse" message="tns:IRobotProgramService_DeleteStep_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRobotProgramService" type="tns:IRobotProgramService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRobotProgramService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPrograms">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/GetPrograms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgram">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/GetProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProgram">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/AddProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProgram">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/UpdateProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/DeleteProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStep">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/GetStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStep">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/AddStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStep">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/UpdateStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStep">
      <soap12:operation soapAction="http://tempuri.org/IRobotProgramService/DeleteStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RobotProgramService">
    <wsdl:port name="NetTcpBinding_IRobotProgramService" binding="tns:NetTcpBinding_IRobotProgramService">
      <soap12:address location="net.tcp://localhost:8011/RobotProgramService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8011/RobotProgramService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>